<ion-content>
    <div class="tudo">

        <ion-card>
            <ion-card-content>
                <h4>Instruções</h4>
                <p><b>1.</b> Você tem 6 vidas;</p>
                <p><b>2.</b> Uma letra por vez;</p>
                <p><b>3.</b> Se errar, você perde uma vida;</p>
                <p><b>4.</b> Caso descubra a palavra, você pode tentar chuta-lá;</p>
                <p><b>5.</b> Porém se errar o chute, perderá instantaneamente;</p>
                <p><b>6.</b> Caso não saiba, você pode pedir uma dica;</p>
                <p><b>7.</b> Divirta-se :) </p>
            </ion-card-content>
            <button id="btnDev" (click)="dev()">Desenvolvedores</button>
            <button id="btnVoltar" (click)="back()">Voltar</button>
        </ion-card>
    </div>
</ion-content>