@font-face {
    font-family: 'fonte-pixelada';
    src: url(../../assets/font/PressStart2P-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'fonte-pixelada';
}

div.background {
    background-image: url(../../assets/img/background-menu.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-position: center;
    color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    width: 250px;
}

div.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    height: 20px;
}

.forca {
    height: 200px;
}

div.teclado-button {
    position: relative;
    background-color: orange;
    border: solid 2px white;
    height: 30px;
    width: 30px;
    color: white;
    margin-left: 18px;
    margin-top: 20px;
}

div.teclado-button p {
    margin: 0;
}

div.teclado {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#personagem {
    position: absolute;
    min-height: 100px;
    max-height: 100px;
    min-width: 50px;
    max-width: 50px;
    top: 85px;
    left: 130px;
}

div.container-forca {
    position: relative;
    width: 200px;
    height: 200px;
    
}

div.container-palavra * {
    float: left;
    margin-left: 30px;
    font-size: 40px !important;
}

.icone-ajuda{
    height: 20px;
}