<ion-content>
    <div class="background">

        <div class="ion-padding">

            <div class="container-forca">

                <img src="../../assets/img/forca.png" class="forca" />
                <img src="../../assets/img/personagem-completo.png" id="personagem" />
            </div>

            <div class="container-palavra" id="container-palavra">


            </div>

            <div class="teclado">

                <div class="teclado-button" (click)="verificarLetra('a')" id="a">
                    <p class="center"> A </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('b')" id="b">
                    <p class="center"> B </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('c')" id="c">
                    <p class="center"> C </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('d')" id="d">
                    <p class="center"> D </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('e')" id="e">
                    <p class="center"> E </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('f')" id="f">
                    <p class="center"> F </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('g')" id="g">
                    <p class="center"> G </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('h')" id="h">
                    <p class="center"> H </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('i')" id="i">
                    <p class="center"> I </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('j')" id="j">
                    <p class="center"> J </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('k')" id="k">
                    <p class="center"> K </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('l')" id="l">
                    <p class="center"> L </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('m')" id="m">
                    <p class="center"> M </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('n')" id="n">
                    <p class="center"> N </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('o')" id="o">
                    <p class="center"> O </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('p')" id="p">
                    <p class="center"> P </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('q')" id="q">
                    <p class="center"> Q </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('r')" id="r">
                    <p class="center"> R </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('s')" id="s">
                    <p class="center"> S </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('t')" id="t">
                    <p class="center"> T </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('u')" id="u">
                    <p class="center"> U </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('v')" id="v">
                    <p class="center"> V </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('w')" id="w">
                    <p class="center"> W </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('x')" id="x">
                    <p class="center"> X </p>
                </div>

                <div class="teclado-button" (click)="verificarLetra('y')" id="y">
                    <p class="center"> Y </p>
                </div>


                <div class="teclado-button" (click)="verificarLetra('z')" id="z">
                    <p class="center"> Z </p>
                </div>
            </div>


        </div>
    </div>


</ion-content>