h4{
    font-weight: bold;
    color: black;
}
ion-card{
    margin-top: 50%;
    text-align: center;
    background-color: white;
}
div{
    background-image: url('../../assets/img/background-menu.png');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-position: center;
    color: white;
}

button{
    background-color: #7044ff;
    // margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 100%;
    border-radius: 5px;
}