<ion-content>
    <div class="tudo">
        <ion-card>
            <h4>Desenvolvedores</h4>
            <div class="perfil">
                <img src="assets/img/gabriel.jpg" alt="">
                <p>Gabriel Teodoro</p>

            </div>
            <div class="perfil">
                <img src="assets/img/manokill.jpg" alt="">
                <p>Gustavo Manocchio</p>

            </div>
            <div class="perfil">

                <img src="assets/img/nunes.jpg" alt="">
                <p>Gustavo Nunes</p>

            </div>
            <div class="perfil">
                <img src="assets/img/miguel.jpg" alt="">
                <p>Miguel Riquelme</p>

            </div>
            <div class="perfil" style="margin-left: 35%;">
                <img src="assets/img/tabata.jpg" alt="">
                <p>Tabata Fernanda</p>

            </div>

            <button (click)="back()">Voltar</button>
        </ion-card>
    </div>
</ion-content>