<ion-content>
    <div class="background">
        <div class="ion-padding">

            <div class="center">
                <h1 class="small-font"> {{resultado}}</h1>
                <div class="menu">
                    <ion-button color="success" class="btn" size="large" (click)="jogar()" class="small-font">
                        Jogar Novamente
                    </ion-button>
                    <br />
                    <ion-button color="warning" class="btn" size="large" (click)="menu()" class="small-font">

                        Voltar ao menu
                    </ion-button>
                </div>
            </div>
        </div>
    </div>


</ion-content>